<!DOCTYPE>
<html lang="pt-br">
    <head>
        <title>Lista produtos</title>
    </head>

    <body>
        <h1>Listagem de produtos</h1>

        <table>
            <!-- primeira linha -->
            <tr>
                <td>ID</td>
                <td>TITULO</td>
                <td>DESCRIÇÃO</td>
                <td>PREÇO</td>
            </tr>

            <!--Váriavel lista está sendo associada na função render do JS-->
            <%for(var i = 0; i < lista.length; i++) {%>
                <tr>
                    <td><%=lista[i].id%></td>
                    <td><%=lista[i].titulo%></td>
                    <td><%=lista[i].descricao%></td>
                    <td><%=lista[i].preco%></td>
                </tr>
            <%}%>
        </table>
    </body>
</html>
